
img{
    border: 3px solid lightgray;


}

.octocat{
    display: inline-block;
    width: 30%;
    padding-top: 15px;
    text-align: center;
    border: 3px solid lightgray;

}

 .authors{
     display:inline-block;

     height: 20px
     float: right;

 }

 .image-caption{
     height: 20px;
     font-size: 15px;
     display: inline-block;
 }




a{
    height:300px;
    width: 200px;

  }

.octocat>a>img{
    height: 300px;
    width: 350px;
    padding: 0%;
}


.authors img{
    display: inline-block;
    height:30px;
    width: 30px;
    padding-top: 7%;
    border: none;

}


 .image-number{
     display: inline-block;

 }

 .image-footer{

     width: 100%;
 }





span{
    display: inline-block;
}


ul{
    padding: 0px;
    list-style:none;

}

.octocat>a::after {
    content: " ";
    height: 0;
    width: 0;
    border-top: solid 10px lightgrey;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;


    position: absolute;
      top: 100%;
      right: 1%;
}